{% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {%
block title %} Walkmate - Dashboard {% endblock %} {% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}" />
{% endblock %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="dashboardBody">
    <nav>
      <img src="../static/images/logo.png" alt="Logo" />
      <form>
        <input type="text" name="loc" placeholder="Search your location..." />
        <button type="submit">Submit</button>
      </form>
      <a href="{{ url_for('logout') }}">Log Out</a>
    </nav>
    <section class="dashboard">
      <h1>Welcome, {{ name }}</h1>
      <div class="bestCustomers">
        <div>
          <img src="../static/mates/person-2.png" alt="IMG" />
          <h3>Monica</h3>
          <h4>( 1.739km )</h4>
        </div>
        <div>
          <img src="../static/mates/person-3.png" alt="IMG" />
          <h3>Robert</h3>
          <h4>( 1.454km )</h4>
        </div>
        <div>
          <img src="../static/mates/person-4.png" alt="IMG" />
          <h3>James</h3>
          <h4>( 1.469km )</h4>
        </div>
        <div>
          <img src="../static/mates/person-1.jpg" alt="IMG" />
          <h3>Emma</h3>
          <h4>( 1.352km )</h4>
        </div>
      </div>
      <h1>All users</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>User id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Facebook</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.facebook }}</td>
              <td>{{ user.location }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <h1>Users from {{ inputValue }}</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>User id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Facebook</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            {% for userOne in userLocation %}
            <tr>
              <td>{{ userOne.id }}</td>
              <td>{{ userOne.username }}</td>
              <td>{{ userOne.email }}</td>
              <td>{{ userOne.facebook }}</td>
              <td>{{ userOne.location }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    <footer>
      <a href="{{ url_for('index') }}">
        <img src="../static/images/logo.png" alt="Logo" />
      </a>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('contact') }}">How to contact mates</a></li>
        <li>
          <a href="{{ url_for('logout') }}">Log Out</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
{% endblock %}
